<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-10 content-box">
      <br>
      <h1>New Event</h1>

      <form method="post" action="/events/new">

      <input type="text" name="name" placeholder="Event Name"><br><br>
      <input class="form-control" type="text" name="moments[name]" placeholder="Add Your First Moment" cols="30" rows="4"><br><br>
      <input class="btn btn-primary" type="submit" name="create" value="Create">
      </form>
    </div>
      </div>
