<h1>New Event</h1>

<form method="post" action="/events/new">

<input type="text" name="name" placeholder="Event Name"><br><br>
<input type="text" name="moments[name]" placeholder="Add Your First Moment"><br><br>
<input class="btn btn-primary" type="submit" name="create" value="Create">
</form>
