<div class="container">
	<br>
	<br>
	<div class="row justify-content-center">
		<div class="col-md-1">
			<img src="https://image.spreadshirtmedia.com/image-server/v1/mp/designs/1010574831,width=178,height=178/coldplay-flower-of-life.png" width="80" alt="logo">
		</div>
		<div class="row center">
		<div class="col-md-6">
			<h1 class="header-text">
				 iAppreciate
			</h1>
			</div>
		</div>
	</div>

<br>
<div class="row justify-content-center content-box">


		<div class="col-md-5">
			<br>
			<br>
			<iframe width="444" height="315" src="https://www.youtube.com/embed/au4qx_l8KEU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			<br>
			<img class="img-fluid" style="border-radius: " src="https://i.imgur.com/gB5Igi7.png" alt="">
		</div>

		<div class="col-md-6">
			<br>
			<p>
				iAppreciate is an app to keep track of moments of appreciation and positive aspects from events like trips, special occasions, or just because. Photos don't give us the same opportunity to express how thankful we feel in that moment.
				This is when our app comes in for you to write in words what you're feeling in your moments of appreciation! The more you appreciate life, the more things life gives you to appreciate!
			</p>
			<p>
				Why did I make this app? It grew from my studies of quantum physics and energy. All words have energy as scientifically proven by Dr. Emoto with water. See the video on the left for more info on this amazing experiment!
				I've noticed many people offering gratitude for things/people in their lives and thats great but I believe their intention is to mean appreciation. The energy behind the word gratitude is much different than appreciation.
				When you say you're grateful for something it's usually coming from a place unworthiness. For example, "I'm so grateful for ________ because most people don't have that and I'm lucky" Although you mean well, the energy behind
				it is like when you're parents say "you should be grateful to have a roof over your head" or similiar. It comes from an energy that you're unworthy and undeserving so you should be grateful while appreciation on the other hand is
				is a deliberate positive feeling. Appreciating moments of joy and bliss is light and easy. Accessing this feeling of appreciation at any moment (with this app :D ) shifts your point of attraction to receive more moments of appreciation. (Google law of attraction)
			</p>

		</div>

</div>
<br>
<br>
<br>
<div class="row justify-content-center">

		<div class="col-sm-6 content-box mr-auto">
			<br>
				<img class="img-fluid" src="http://www.kelleystc.com/wp-content/uploads/2016/04/iStock_000046660964_Large.jpg" alt="">
			<br>
			<p>&nbsp;</p>
			<p style="text-align: center;">

			</p>
		</div>

    <div class="col-sm-5 content-box col-auto">
      <div class="row align-items-center justify-content-center">
            <div class="col-sm-9 align-self-center">
              <br>
    				<img class="img-fluid" src="https://piecesofbliss.files.wordpress.com/2015/08/tempfile_2015-08-17-07-35-58.jpg" alt="">
    			<br>
    			<p>&nbsp;</p>
    			<p style="text-align: center;">

    			</p>
    		</div>
      </div>
    </div>
