<div class="container">
	<br>
	<br>
	<div class="row justify-content-center">
		<div class="col-md-1">
			<img src="https://image.spreadshirtmedia.com/image-server/v1/mp/designs/1010574831,width=178,height=178/coldplay-flower-of-life.png" width="80" alt="logo">
		</div>
		<div class="row center">
		<div class="col-md-6">
			<h1 class="header-text">
				 iAppreciate
			</h1>
			</div>
		</div>
	</div>

<br>
<div class="row justify-content-center content-box">


		<div class="col-md-5">
			<br>
			<br>
			<iframe width="444" height="315" src="https://www.youtube.com/embed/au4qx_l8KEU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<!--	<img class="img-fluid" style="border-radius: " src="http://www.gimme-shelter.com/wp-content/uploads/2012/01/What-is-Appreciation_-Real-Estate-Definition.jpg" alt=""> -->
		</div>

		<div class="col-md-6">
			<br>
			<p>
				iAppreciate is an app to keep track of moments of appreciation and positive aspects from events like trips, special occasions, or just because. Photos don't give us the same opportunity to express how thankful we feel in that moment.
				This is when our app comes in for you to write in words what you're feeling in your moments of appreciation! The more you appreciate life, the more things life gives you to appreciate!
			</p>
			<p>
				Why did I make this app? I've noticed many people offering gratitude for things in their lives. I believe like myself, they really mean appreciation.
			  When you understand the energy behind the word gratitude it's usually coming from a place from a place of undeserving
				so we should feel grateful. All words have energy as scientifically tested by Dr. Emoto with water. For more information on this science
				please visit: http://www.masaru-emoto.net/english/water-crystal.html
				The energy behind the word and feeling of appreciation is of worthiness and unconditional love.
			</p>

		</div>

</div>
<br>
<br>
<br>
<div class="row justify-content-center">

		<div class="col-sm-6 content-box mr-auto">
			<br>
				<img class="img-fluid" src="http://www.kelleystc.com/wp-content/uploads/2016/04/iStock_000046660964_Large.jpg" alt="">
			<br>
			<p>&nbsp;</p>
			<p style="text-align: center;">

			</p>
		</div>

    <div class="col-sm-5 content-box col-auto">
      <div class="row align-items-center justify-content-center">
            <div class="col-sm-9 align-self-center">
              <br>
    				<img class="img-fluid" src="https://piecesofbliss.files.wordpress.com/2015/08/tempfile_2015-08-17-07-35-58.jpg" alt="">
    			<br>
    			<p>&nbsp;</p>
    			<p style="text-align: center;">

    			</p>
    		</div>
      </div>
    </div>
