<div class="container">
	<br>
	<br>
	<div class="row justify-content-center">
		<div class="col-md-1">
			<img src="https://image.spreadshirtmedia.com/image-server/v1/mp/designs/1010574831,width=178,height=178/coldplay-flower-of-life.png" width="80" alt="logo">
		</div>
		<div class="row center">
		<div class="col-md-6">
			<h1 class="header-text" >
				iAppreciate
			</h1>
		</div>
	</div>
</div>
<br>
<div class="row justify-content-center content-box">


		<div class="col-md-5">

			<br>
		<img class="img-fluid" style="border-radius: " src="http://www.gimme-shelter.com/wp-content/uploads/2012/01/What-is-Appreciation_-Real-Estate-Definition.jpg" alt="">
		<p>
		I was inspired after reading about experiments by Dr. Masuru Emoto. In his experiments he exposes water to words (voice or written) or feelings (prayer or visualizations) and then looks
	  at them under a microscope to see how they’ve changed. For example, when he says the word “appreciation” next to the water, it changes from a normal molecule to a beautiful molecule resembling
		a snowflake. When exposed to words like “hate”, the molecules become ugly and distorted.
	</p>
		</div>

		<div class="col-md-6">
			<br>
			<p>
				iAppreciate is an app to keep track of moments of appreciation and positive aspects from events like trips, special occasions, or just because. Photos don't give us the same opportunity to express how thankful we feel in that moment.
        This is when our app comes in for you to write in words what you're feeling in your moments of appreciation! The more you appreciate life, the more things life gives you to appreciate!
			</p>
			<br>
			<img class="img-fluid" style="border-radius: " src="https://i.imgur.com/vopAkxE.png" width="444" height="222" alt="">
			<br>
			<br>
			<p> Now imagine our bodies are made of more than 60% of water, doesn’t it make sense that we can actually change
		  our bodies to promote things like wellness through feelings of appreciation? The iAppreciate app allows you to record moments of appreciation so that you can come back to them at anytime to get back
		  into that feeling of appreciation, thus changing the chemistry of your body.</p>
			<p style="text-align: center;"></p>
			<p>
				Join today and start appreciating! Registration is free!
			</p>
		</div>

</div>
<br>
<br>
<br>
<div class="row justify-content-center">

		<div class="col-sm-6 content-box mr-auto">
			<br>
				<img class="img-fluid" src="http://www.kelleystc.com/wp-content/uploads/2016/04/iStock_000046660964_Large.jpg" alt="">
			<br>
			<p>&nbsp;</p>
			<p style="text-align: center;">

			</p>
		</div>
		<div class="col-sm-5 content-box col-auto">
			<div class="row align-items-center justify-content-center">
						<div class="col-sm-7 align-self-center">
							<br>
							<form action="/signup" method="post" style="text-align:center;">
								<h3 style="text-align:center;"><strong>Sign up</strong></h3>
								<br>
								<input style="text-align:center;" placeholder="Account Name" class="form-control" id="username" type="text" name="username">
								<br>
								<input style="text-align:center;" placeholder="Password" class="form-control" id="password" type="password" name="password">
								<br>
								<button class="btn-material-second btn-block"  id="submit"  type="submit">Create account</button>
							</form>
						</div>
            <br>
						<img class="img-fluid" style="border-radius: " src="https://i.imgur.com/NjYEWnw.png" width="333" height="222" alt="">
			</div>
		</div>
<br>
</div>
</div>

<!-- The view - HTML pages that a user interacts with.
The food that you ordered -->
