<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-10 content-box">
      <h1>New Moment</h1>

      <form method="post" action="/moments/new">
      <input required class="form-control" type="text" name="name" placeholder="Moment Description" cols="30" rows="4">

      <br>
      <label>Add To An Existing Event</label><br>
      <% @events.each do |event| %>
      <% if event.user_id == @user.id %>
			<input required type="radio" name="event_id" value="<%=event.id%>"><%=event.name%><br>
      <% end %>
      <% end %>
      <br>
      <input class="btn-material-second" type="submit" name="create" value="Create">
      </form>

    </div>
  </div>
</div>
