<h1>New Moment</h1>

<form method="post" action="/moments/new">
<input type="text" name="name" placeholder="Moment Name">

<br>
<label>Add To An Existing Event</label><br>
<% @events.each do |event| %>
<% if event.user_id == @user.id %>
<input type="checkbox" name="event_id" value="<%=event.id%>"><%=event.name%><br>
<% end %>
<% end %>
<br>
<input class="btn btn-primary" type="submit" name="create" value="Create">
</form>
